---
layout: default
---
<script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>

<h1>Project Euler</h1>

<style>
	.question-grid {
		display: flex;
		flex-direction: row;
		max-width: 100%;
		overflow: auto;
  		scrollbar-color: var(--background-color) var(--text-color);
	}
	.question-subgrid {
		display: grid;
		grid-template-columns: repeat(10, 1.5em);
		grid-template-rows: repeat(10, 1.5em);
		position: relative;
		align-items: stretch;
		margin: 1em;
	}
	.question-subgrid > .cell {
		text-align: center;
		border: 1px solid var(--text-color);
		position: relative;
		display: flex;
	}
	.question-subgrid > .cell > span {
		margin: auto;
		font-size: 0.75em;
	}
	.question-subgrid > .cell:hover {
		background-color: var(--selection-color);
		* {
			color: var(--text-color);
		}
		cursor: pointer;
	}
	.cell {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.cell.done {
		background-color: #00ff0080;
	}
	.cell.target {
		background-color: #0000ff80;
	}
	.cell.read {
		background-color: #ffff0080;
	}
	.cell.unread {
		background-color: #ff000080;
	}
	.cell.selected {
		background-color: var(--text-color);
		* {
			color: var(--background-color);
		}
	}

	
	.tooltip {
		position: relative;
		display: inline-block;
		text-decoration: underline;
		cursor: help;
	}

	.tooltip .tooltiptext, .tooltip .tooltiptext_narrow, .tooltip .tooltiptext_left, .tooltip .tooltiptext_right, .tooltip .tooltiptext_wide, .tooltip .tooltiptext_narrower {
		line-height: initial;
		visibility: hidden;
		background-color: var(--background-color);
		border: 1px solid var(--text-color);
		text-align: center;
		padding: 5px 10px;
		position: absolute;
		z-index: 1;
		font-weight: normal;
		font-size: 80%;
		top: 100%;
		margin-top: 10px;
		width: 200px;
		word-wrap: break-word;
	}
	.tooltip .tooltiptext  {
	left: 50%;
	margin-left: -100px;
	}
	.tooltip .tooltiptext_narrow {
	left: 50%;
	margin-left: -60px;
	width: 120px;
	}
	.tooltip .tooltiptext_narrower {
	left: 50%;
	margin-left: -40px;
	width: 80px;
	}
	.tooltip .tooltiptext_left {
	left: 105%;
	}
	.tooltip .tooltiptext_right {
	right: 105%;
	}
	.tooltip .tooltiptext_wide {
	left: 105%;
	width: 250px;
	}

	.tooltip:hover .tooltiptext, .tooltip:hover .tooltiptext_narrow, .tooltip:hover .tooltiptext_left, .tooltip:hover .tooltiptext_right, .tooltip:hover .tooltiptext_wide, .tooltip:hover .tooltiptext_narrower {
	visibility: visible;
	}

	#qid {
		width: 4em;
		text-align: center;
	}
	
</style>

<div>
	Progress <input id="progress-file" accept=".csv" type="file"> <button id="import-progress">Import</button>
	<span>Note: Upload the CSV at <a href="https://projecteuler.net/history" target="_blank">History</a> (need to first login PE). Data stored in <a href="https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage" target="_blank">localStorage</a></span>
</div>
<div class="question-grid">
{% for x in (0..9) %}
	<div class="question-subgrid">
		{% for i in (0..9) %}
			{% for j in (0..9) %}
				{% assign cell = x | times: 10 | plus: i | times: 10 | plus: j | plus: 1 %}
				<div data-qid="{{cell}}" class="cell"> <span>{{ cell }}</span> </div>
			{% endfor %}
		{% endfor %}
	</div>
{% endfor %}
</div>

<br>

<div>
	Question <span id="qid">???</span>
	<span>Status
		<select id="question-status">
			<option value="unread">Unread</option>
			<option value="read">Read</option>
			<option value="target">Target</option>
			<option value="done">Done</option>
		</select>
	</span>
</div>

<div id="pe-question-container">
</div>

<script>
	all_status = {}
	function loadSolves() {
		const question_limit = 1000
		for (let i = 1; i <= question_limit; i++) {
			let status = localStorage.getItem(`pe_status_${i}`) ?? "unread"
			all_status[i] = status
			$(`.cell[data-qid="${i}"]`).addClass(status)
		}
	}
	function loadQuestion() {
		var qid = $("#qid").html()
		var container = document.getElementById("pe-question-container")
		var url = `https://projecteuler.net/minimal=${qid}`
		fetch(url).then(res => res.text()).then(res => {
			container.innerHTML = res.replaceAll("resources/", "https://projecteuler.net/resources/");
			MathJax.typesetPromise()
			$("#question-status").val(all_status[qid])
		})
	}

	$("#import-progress").on('click', function() {
		let e = $("#progress-file")
		let file = e.prop('files')[0];
		if (!file) return;
		let reader = new FileReader(); // built in API
		reader.readAsText( file );
		reader.onload = function(reader) {
			let res = reader.target.result
			res.split("\n").forEach((s) => {
				let qid = s.split(",")[0]
				localStorage.setItem(`pe_status_${qid}`, 'done')
				$(`.cell[data-qid="${qid}"]`).removeClass(all_status[qid])
				all_status[qid] = 'done'
				$(`.cell[data-qid="${qid}"]`).addClass(all_status[qid])
			})
			loadSolves()
		}
	})

	$("#question-status").on('change', function() {
		let qid = $("#qid").html()
		try {
			qid = parseInt(qid)
			status = $(this).val()
			$(`.cell[data-qid="${qid}"]`).removeClass(all_status[qid])
			all_status[qid] = status
			$(`.cell[data-qid="${qid}"]`).addClass(all_status[qid])
			localStorage.setItem(`pe_status_${qid}`, status)
		} catch (e) {
			console.log(e.message)
		}
	})

	loadSolves()
	$(".cell").on('click', function() {
		$("#qid").html($(this).data('qid'))
		loadQuestion()
		$(".cell").removeClass("selected")
		$(this).addClass("selected")
	})	
</script>

