:root {
    --text-color: #cccccc;
    --background-color: #151515;
    --selection-color: #b02afd60;
    --invert-light: 0.917;
    --invert-dark: 0.2;
    --font-family: 'Cascadia Code';
}

@media print {
    :root {
        --text-color: #151515;
        --background-color: #FFFFFF;
        --selection-color: var(--background-color);
    }
}

img {
    filter: invert(var(--invert-light));
    max-width: 100%;
}

* :not(mjx-container *) {
    font-family: var(--font-family);
    ::selection {
        color: var(--text-color);
            background-color: var(--selection-color);
    }
    color: var(--text-color);
}

pre {
    tab-size: 4;
}

ol, ul {
    margin-top: 0em; /* probably looks better? */
}

* {
    outline-style: none;
}

optgroup {
    background-color: var(--background-color);
}

select, button, option, input {
    background-color: var(--background-color);
}

select, ::picker(select) {
    appearance: base-select;
    border-radius: 0;
}

option:hover {
    background: color-mix(in srgb, var(--background-color) 100%, var(--text-color) 20%) !important;
}

body {
    font-size: 15px;
    background-color: var(--background-color);
}

.hljs {
    padding: 0 !important;
    background: var(--background-color) !important;
}

img, br {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

mjx-container {
    font-size: 117.1% !important; /* hard-coded scaling (race condition of somesort happened?) */
}

/* For cheatsheet */
@media print {
        p, h1, h2, h3, li, td, ol, ul, h4 {
                margin: 2px 0px;
        }
        p, li, td {
                font-size: 11px;
        }
        h1 {
                font-size: 20px;
        }
        h2 {
                font-size: 15px;
        }
        h3 {
                font-size: 13px;
        }
        h4 {
                font-size: 11px;
        }
}

