img {
    filter: invert(0.917); 
    max-width: 100%;
}

* {
    outline-style: none;	
}

optgroup {
    background-color: var(--background-color);
}

select, button, option, input {
    background-color: var(--background-color);
}

select, ::picker(select) {
    appearance: base-select;
    border-radius: 0;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

#selector {
    position: sticky;
    top: 0;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-color);
    z-index: 10;
}

#question-container {
    display: grid;
    align-items: stretch;
    grid-template-columns: 3em 1fr;
    max-width: 100%;
}

img, #selector, br, #question-container > .question-label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

br {
    content: "";
    display: block;
    margin: 2em;
    font-size: 200%;
}

.question-label.answer-shown {
    background-color: var(--text-color);
    color: var(--background-color);

    & * {
        background-color: var(--text-color);
        color: var(--background-color);
    }
}

.question-order {
    position: absolute;
}

.question-reference {
    font-size: 0.5em;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    bottom: 0.5em;
}

.question-label > .tiny {
    font-size: 0.5em;
}

#question-container > .question-label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    font-size: 1.2em;
    border: 1px solid var(--text-color);
    position: relative;
}

#question-container > .question-content {
    margin: 0.5em;
    min-width: 0px;
}

.option-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.option {
    padding-left: 0.5em;
    margin-top: 0.5em;
    min-height: 3em;
    display: flex;
    align-items: center;
    white-space: break-spaces;
}

@media (max-width: 768px) {
    .option-container {
        grid-template-columns: 1fr;
    }
}

option:hover {
    background: color-mix(in srgb, var(--background-color) 100%, var(--text-color) 20%) !important;
}

.option.answer, .option.answer * {
    background-color: var(--text-color);
    color: var(--background-color);

    > img {
        background-color: transparent;
        filter: invert(0.2);
    }
}