---
layout: default
---
<style>
		div {
			margin-bottom: 2em;
		}
		img {
			filter: invert(0.917); 
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		optgroup {
			background-color: var(--background-color);
		}
		* {
			outline-style: none;	
		}

		select, button, option {
			background-color: var(--background-color);
		}

		select, ::picker(select) {
			appearance: base-select;
			border-radius: 0;
		}

		#selector {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			background-color: var(--background-color);
			z-index: 10;
		}

		option:hover {
			background: color-mix(in srgb, var(--background-color) 100%, var(--text-color) 20%) !important;
		}
	</style>
	<div id="selector">
		Mathematics 
		<select id="year">
			<optgroup label="HKCEE">
				{% for year in (1980..2011) %}
					<option value="{{year}}">{{year}}</option>
				{% endfor %}
			</optgroup>
			<optgroup label="HKDSE">
				<option value="2012-PP">2012-PP</option>
				<option value="2012-CP">2012-CP</option>
				{% for year in (2012..2025) %}
					<option value="{{year}}">{{year}}</option>
				{% endfor %}
			</optgroup>
		</select>
		<select id="paper">
			<!-- <option value="1">Paper 1</option> -->
			<option value="2">Paper 2</option>
		</select>
		<button onclick="loadPaper()">Load</button>
	</div>
	<div></div>
	<div id="content">

	</div>
	<script>
		function sleep(ms) {
			return new Promise(resolve => setTimeout(resolve, ms));
		}

		function loadPaper() {
			let year = document.getElementById("year").value
			let paper = document.getElementById("paper").value
			fetch(`{{site.baseurl}}/secret/artifact/paper-${paper}/${year}/questions.json`, {method: "GET", type: "json"})
			.then((res) => res.json())
			.then(async (data) => {
				const e = document.getElementById("content");
				e.innerHTML = "";
				let question = 1;
				for (const datum of data) {
					e.innerHTML += "<div>" + question + ". " + datum + "</div>";
					question += 1;
				}
				await MathJax.typesetPromise();
			})
		}

		const urlParams = new URLSearchParams(window.location.search);
		const year = urlParams.get('year');
		if (year) {
			document.getElementById("year").value = year;
			loadPaper();
		}
		// too slow...
		// document.getElementById("year").addEventListener('change', function() {
		// 	loadPaper();
		// })
		// document.getElementById("paper").addEventListener('change', function() {
		// 	loadPaper();
		// })
		// loadPaper();
	</script>
