---
layout: default
---
<link rel="stylesheet" href="style.css">
<div id="selector">
	Mathematics 
	<select id="year">
		<optgroup label="HKCEE">
			{% for year in (1980..2011) %}
				<option value="{{year}}">{{year}}</option>
			{% endfor %}
		</optgroup>
		<optgroup label="HKDSE">
			<option value="2012-SP">2012-SP</option>
			<option value="2012-PP">2012-PP</option>
			{% for year in (2012..2025) %}
				<option value="{{year}}">{{year}}</option>
			{% endfor %}
		</optgroup>
	</select>
	<select id="paper">
		<option value="2">Paper 2</option>
	</select>
	<button onclick="loadPaper()">Load</button>
</div>
<div id="question-container">

</div>
<script src="functions.js"></script>
<script>
	function loadPaper() {
		let year = $("#year").val()
		let paper = $("#paper").val()

		let promises = []
		promises.push(loadQuestionJson(paper, year))
		promises.push(loadAnswerJson(paper, year))
		Promise.all(promises).then(async function() {
			const container = $("#question-container");
			container.html("");
			let label = 1;
			for (const qid in questions[year]) {
				const statement = questions[year][qid]
				const answer = answers[year][qid]
				await appendQuestion(container, label, null, statement, answer);
				label += 1;
			}
			$(".question-label").on('click', function(e) {
				toggleAnswer($(e.currentTarget))
			})
			await MathJax.typesetPromise();
		})
	}

	const urlParams = new URLSearchParams(window.location.search);
	const year = urlParams.get('year');
	if (year) {
		document.getElementById("year").value = year;
		loadPaper();
	}
</script>
