---
layout: default
---
<link rel="stylesheet" href="style.css">
<div id="selector">
	Mathematics 
	<select id="year">
		<optgroup label="HKCEE">
			{% for year in (1980..2011) %}
				<option value="{{year}}">{{year}}</option>
			{% endfor %}
		</optgroup>
		<optgroup label="HKDSE">
			<option value="2012-PP">2012-PP</option>
			<option value="2012-SP">2012-SP</option>
			{% for year in (2012..2025) %}
				<option value="{{year}}">{{year}}</option>
			{% endfor %}
		</optgroup>
	</select>
	<select id="paper">
		<option value="2">Paper 2</option>
	</select>
	<button onclick="loadPaper()">Load</button>
</div>
<div id="question-container">

</div>
<script src="functions.js"></script>
<script>
	function loadPaper() {
		let year = $("#year").val()
		let paper = $("#paper").val()
		fetch(`artifact/paper-${paper}/${year}/questions.json`, {method: "GET", type: "json"})
		.then((res) => res.json())
		.then(async (data) => {
			const questionContainer = $("#question-container");
			questionContainer.html("");
			let label = 1;
			let content = "";
			for (const question of data) {
				await appendQuestion(questionContainer, label, null, question);
				label += 1;
			}
			// e.html(content);
			await MathJax.typesetPromise();
		})
	}

	const urlParams = new URLSearchParams(window.location.search);
	const year = urlParams.get('year');
	if (year) {
		document.getElementById("year").value = year;
		loadPaper();
	}
</script>
